<div class="container-fluid" *ngIf="!isLoading">
<!--  <p>This Blog has been viewed {{blog.views}} times</p>-->
  <div class="row d-flex justify-content-center pb-3">
    <!--image-->
    <div class="col-md-4 col-lg-4 pb-3"  routerLink="/blogs/{{blog.id}}">
      <div class="container">
        <img src="https://picsum.photos/500/500" class="rounded mx-auto d-block shadow-lg img-fluid" alt="...">
      </div>
    </div>
    <!--/image-->
    <!--content-->
    <div class="col-md-4 col-lg-4"  routerLink="/blogs/{{blog.id}}">
      <div class="container">
        <h4 class="lead"><strong>{{ blog.headline }}</strong></h4>
        <p>
          {{ blog.content }}
        </p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">{{ blog.footnote }}</cite></footer>
      </div>
    </div>
    <!--/content-->
  </div>
</div>
<div class="container" *ngIf="isLoading">
  <h3>Loading...</h3>
</div>
