<div class="container-fluid pb-3">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1 class="display-2">My Idea.</h1>
        <h2 class="display-3">My Views.</h2>
        <h3 class="display-4">Get started with us Today!.</h3>

        <!-- button-->
        <div class="container pb-3 row">
          <div class="col-6 col-lg-4">
            <button type="button" class="btn btn-lg btn-info btn-block">Signup</button>
          </div>
        </div>
      </div>

      <!--images-->
      <div class="col-sm">
        <div class="container">
          <img src="https://picsum.photos/500/500" class="rounded mx-auto d-block shadow-lg img-fluid" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<hr style="width: 200px;" class="shadow-lg">

<div class="container pb-3">
  <div class="row d-flex justify-content-center pb-3" *ngFor="let blog of blogs">
      <!--image-->
      <div class="col-md-4 col-lg-4 pb-3"  routerLink="/blogs/{{blog.id}}">
        <div class="container">
          <img src="https://picsum.photos/500/500" class="rounded mx-auto d-block shadow-lg img-fluid" alt="...">
        </div>
      </div>
      <!--/image-->
      <!--content-->
      <div class="col-md-4 col-lg-4"  routerLink="/blogs/{{blog.id}}">
        <div class="container">
          <h4 class="lead"><strong>{{ blog.headline }}</strong></h4>
          <p>
            {{ blog.content }}
          </p>
          <footer class="blockquote-footer">Someone famous in <cite title="Source Title">{{ blog.footnote }}</cite></footer>
        </div>
      </div>
      <!--/content-->
  </div>

</div>
